Q.1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

#Values or an expression: 'hello', -87.8, 6 
#Mathematical operator: *,-, /, +

Q.2. What is the difference between string and variable?

String: Strings in python are surrouded by single quote or double quote. These are array of bytes representing unicode characters. 

Variable: variables are used to point or refer an object. Data can be stored inside an object, we just assign the object to a variable variable and we can refer it by the name.

a='5' #a=variable

type(a)

Q.3. Describe three different data types.

List:
i)List are ordered collection of data and list in python can be created by just putting square bracket around group of elements and the elements can be anything as integer, float or string.
ii)To access the list items we can use index, either positive or negetive both will work. We would be able to change the element within a list that's why the list is called as mutable data type.

In [1]:
L=[1,2,3,"deb","Mishra"]

In [2]:
L[0]="name"

L[-2]

In [13]:
L[0]

'name'

Tuple:
i)Tuple are ordered collection so we would be able to find the element through indexing.
ii)We would be able to create a tuple by separating data with comma. paranthesis is not a mandatory option, without paranthesis also it will be a tuple.
iii)Tuples are immutable and we would not be able to modify the items inside a tuple

In [14]:
t=1,2,3,4,5

In [16]:
type(t)

tuple

In [18]:
#We would not be able to assign elements as tuples are immutable
try:
    t[2]=0
except Exception as e:
    print('We would not be able to assign items to tuple')

We would not be able to assign items to tuple

Set:
1)Set is unordered collection of data types which is iterable, mutable and it has no duplicate elements.
2)We would be able to create a set by set function or by placing a sequesnce inside curly brackets
3)Type of element inside a set can be different.

In [19]:
s=set([1,2,3,4,'deb','mishra'])

In [20]:
s

{1, 2, 3, 4, 'deb', 'mishra'}

In [21]:
type(s)

set

In [22]:
s={34,3.4,"34"}

In [23]:
s

{3.4, 34, '34'}

In [24]:
type(s)

set

Q.4. What is an expression made up of? What do all expressions do?

Ans: Expresion is combination of operator and operands, it interprets and produce some other value.If there is more than one operator in the expression then precedence decides which operation to be done first.

Q.5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Statement means when we execute something with help of variable and object, but it doesn't return anything. Where as expressions are combination of values and functions which interpreted by compiler to give some output/other value

Q.6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

Ans: Value of bacon will be 22

Q.7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

Ans: i)'spam' + 'spamspam' will be 'spamspamspam'
ii)'spam' * 3 will be 'spamspamspam'

Q.8. Why is eggs a valid variable name while 100 is invalid?

Ans: Variable name must start with letter or underscore that's why egg is a variable but variable should not start with number so 100 is not a variable

Q.9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Ans: int(), float(), str()

Q.10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [25]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

Ans: When we are concatenating we can't concatenate integer with string using + operator